*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
	text-align: left;
	font-family: passion-one, sans-serif;
	font-size: 400%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h2 {
	margin-top: 0px;
}

body {
	font-family: source-sans-pro, sans-serif;
}
.container {
	max-width:800px;
	width:100%;
	/* The 25px is for the top margin */
	margin:25px auto;
	padding: 15px;
}

.bubble_left 
{
position: relative;
width: 250px;
padding: 10px 10px 10px 10px;
background: #CCFFCC;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
clear:both;
}

.bubble_left:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #CCFFCC;
display: block;
width: 0;
z-index: 1;
margin-top: -15px;
left: -15px;
top: 50%;
}

.bubble_right 
{
position: relative;
float: right;
width: 250px;
padding: 10px 10px 10px 10px;
background: #CCFFCC;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}
.bubble_right:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #CCFFCC;
display: block;
width: 0;
z-index: 1;
margin-top: -15px;
right: -15px;
top: 50%;
}

.chat {
	max-width: 600px;
	width:100%;
	padding: 10px 10px 10px 10px;
	
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}